main.main
    section.cta1
        article.cta1__content
            h1.title Just type
            h2.second-headline Fastest way to navigate
            h3.sub-heading Most calendars are designed for teams. Slate is designed for freelancers.
            .cta1__buttons
                button.button.button_blue Download
                button.button.button_white See Walkthrough
    section.plus
        img.plus__primary(src='../img/main__shape_primary.svg')
        img.plus__secondary(src='../img/main__shape_secondary.svg')
        img.plus__primary_full(src='../img/main__shape_primary_full.svg')
        img.plus__secondary_full(src='../img/main__shape_secondary_full.svg')
        article.plus__fonts
            h1.title Variable fonts
            h3.sub-heading Most calendars are designed for teams. Slate is designed for freelancers.
            a.link LEARN MORE
        article.plus__feature
            h1.title OpenType features
            h3.sub-heading Most calendars are designed for teams. Slate is designed for freelancers.
            a.link LEARN MORE
        img.plus__pc(src="../img/screen1_pc.png")
        img.plus__code(src="../img/screen2_code.png")
    section.task
        article.task__content
            h2.task__mob.second-headline File tasks
            h2.task__full.second-headline A rethink of how we work
            p.paragraphe Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful.
            progress.task__progress(id="progress" max="100", value="71")
            .progress__text
                label(for="progress") Facebook
                span.progress__text_number 35,929
            button.button.button_blue Get Started For Free
    section.test
        article.test__content
            h1.title Testimonials
            .test__img
                img.test__logo(src="../img/test__logo.svg", alt="")
            p.paragraphe Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business less stressful. 
                span.test__add We'd love to show you what we're building...
            .reference
                img.reference__card(src="../img/reference__card.png", alt="")
                p.reference__name Esther Webb
                p.reference__career Designer
            button.button.button_blue All Testimonials
            img.test__shape_dark(src="../img/test__shape_dark.svg")
            img.test__shape_light(src="../img/test__shape_light.svg")
    section.pricing
        .pricing__content
            h2.second-headline Pricing
            p.paragraphe Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        .pricing__tariff
            h3.sub-heading 30-DAY FREE TRIAL
            .cost
                p.cost__value 5$
                p.cost__plan /month per user
            p.paragraphe Most calendars are designed for teams.
            button.button.button_blue Get Started
    section.focus 
        h2.focus__headline We focus on ergonomic meeting
        .focus__content
            .focus__text
                p.paragraphe Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business building... 
                p.paragraphe Being a freelancer is a rollercoaster of emotions. We built Slate to keep your freelance business building...
            button.button.button_blue Get Started