footer.footer
    .footer__content
        .brand 
            img.brand__logo(src="../img/logo1.svg")
            p.brand__text Just type what's on your mind 
        +nav__list
        .social
            img.social__img(src="../img/f_twitter.svg")
            img.social__img(src="../img/f_facebook.svg")
            img.social__img(src="../img/f_linkedin.svg")