header.header
    nav.nav
        img.nav__logo(src="../img/logo1.svg")
        +nav__list
        button.nav__button.button Login
        .nav__mob-menu
            img.nav__icon(src="/img/menu.svg")
            nav.nav__nav-in-button
                +nav__list
    .header__text
        h2.second-headline Lightning fast prototyping
        h3.sub-heading Most calendars are designed for teams. 
            span.sub-heading__add Slate is designed for freelancers.
    .header__buttons
        button.button.button_blue Get Started
        button.button.button_black Try For Free
    .header__images 
        img.header__blue(src='../img/header__shape_blue.svg')
        img.header__yellow(src='../img/header__shape_yellow.svg')
        img.header__screen(src="../img/browser.png")